@model Vendor.Domain.Entites.Branch.BranchInfrastructure

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BranchInfrastructure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchInfrastructureTypeId" class="control-label"></label>
                <select asp-for="BranchInfrastructureTypeId" class="form-control" asp-items="ViewBag.BranchInfrastructureTypeId"></select>
                <span asp-validation-for="BranchInfrastructureTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InfrastructureType" class="control-label"></label>
                <select asp-for="InfrastructureType" class="form-control"></select>
                <span asp-validation-for="InfrastructureType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadOwnershipDocuments" class="control-label"></label>
                <input asp-for="UploadOwnershipDocuments" class="form-control" />
                <span asp-validation-for="UploadOwnershipDocuments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

